<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.helloworld" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Pearl Drum Brasil</name>
    <description>
        Pearl Drum Brasil
    </description>
    <author email="SAC@PEARL-LATINAMERICA.COM" href="http://www.pearldrumbrasil.com.br/">
        Pearl
    </author>
    <content src="index.html" />
    <access origin="http://127.0.0.1*"/> <!-- allow local pages -->
	<access origin="http://www.pearldrumbrasil.com.br" />
	<access origin="http://www.pearldrumbrasil.com.br" subdomains="true" />
	<access origin=".*"/>
</widget>
